<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>D&D Companion</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body class="base-theme home-theme">
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/npc">NPCs</a></li>
      <li><a href="/characters">Characters</a></li>
      <li><a href="/monsters">Monsters</a></li>
      <li><a href="/spells">Spells</a></li>
      <li><a href="/locations">Locations</a></li>
    </ul>
  </nav>

  <main class="content-wrapper">
    <div class="welcome-title">Welcome to the D&D Companion</div>
  </main>
</body>
</html>
